#close_in,
#header_menu {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  font-family: "Poppins", Helvetica, sans-serif;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-weight: 500;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

p {
  margin-bottom: 20px;
}

strong {
  font-weight: 500;
}

label {
  font-weight: 500;
  margin-bottom: 3px;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #ededed;
  opacity: 1;
}

a {
  color: #e54750;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
}

a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

@media (min-width: 1410px) {
  .container {
    max-width: 1320px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
}
@media (max-width: 560px) {
  .container {
    max-width: 100%;
  }
}


.hero_single {
  width: 100%;
  position: relative;
  margin: 0;
  color: #fff;
}
.hero_single .opacity-mask {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero_single .opacity-mask h1,
.hero_single .opacity-mask h3 {
  color: #fff;
  line-height: 1;
  font-size: 42px;
  font-size: 2.625rem;
  margin: 0;
  font-weight: 600;
}
@media (max-width: 767px) {
  .hero_single .opacity-mask h1,
  .hero_single .opacity-mask h3 {
    font-size: 36px;
    font-size: 2.25rem;
  }
}
.hero_single .opacity-mask p {
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 300;
}
@media (max-width: 767px) {
  .hero_single .opacity-mask p {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}
.hero_single .search_trends {
  color: #555;
}
.hero_single .search_trends h5 {
  font-size: 1.4em;
  display: inline-block;
  color: #555;
}
.hero_single .search_trends ul {
  list-style: none;
  display: inline-block;
  margin: 15px 0 0 0;
  padding: 0;
  font-size: 1.2em;
}
.hero_single .search_trends ul li {
  display: inline-block;
}
.hero_single .search_trends ul li:after {
  content: ",  ";
}
.hero_single .search_trends ul li:last-child:after {
  content: " ";
}
.hero_single .search_trends ul li a {
  color: #555;
}
.hero_single .search_trends ul li a:hover {
  text-decoration: underline;
}
.hero_single .search_trends.white li a,
.hero_single .search_trends.white h5 {
  color: #fff;
}
.hero_single.version_1 {
  height: 620px;
  background: #faf3cc url(../img/hero_5.svg) center top no-repeat;
}
@media (max-width: 991px) {
  .hero_single.version_1 {
    background: #faf3cc url(../img/hero_5_mobile.svg) center top no-repeat;
  }
}
@media (max-width: 991px) {
  .hero_single.version_1 .opacity-mask {
    text-align: center !important;
  }
}
.hero_single.version_1 .opacity-mask h1,
.hero_single.version_1 .opacity-mask h3 {
  color: #222;
}
.hero_single.version_1 .opacity-mask p {
  color: #444;
}
.hero_single.version_2 {
  height: 620px;
  background: #faf3cc url(../img/home_section_2.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero_single.version_2 .opacity-mask {
  text-align: left;
}
@media (max-width: 991px) {
  .hero_single.version_2 .opacity-mask {
    text-align: center !important;
  }
}
.hero_single.version_2 .opacity-mask h1,
.hero_single.version_2 .opacity-mask h3 {
  color: #fff;
}
.hero_single.version_2 .opacity-mask p {
  color: #fff;
}
.hero_single.version_2 .search_trends {
  color: #fff;
}
.hero_single.version_2 .search_trends h5 {
  color: #fff;
}
.hero_single.version_2 .search_trends ul li a {
  color: #fff;
}
.hero_single.inner_pages {
  height: 620px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #ededed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}
.hero_single.inner_pages h1 {
  margin-top: -30px;
}

.custom-search-input {
  background-color: #fff;
  padding: 5px 5px 5px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}
@media (max-width: 991px) {
  .custom-search-input {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
.custom-search-input input {
  border: 0;
  height: 50px;
  padding: 12px 10px 10px 20px;
  font-weight: 500;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-size: 15px;
  font-size: 0.9375rem;
}
.custom-search-input input.no_border_r {
  border: none;
}
@media (max-width: 991px) {
  .custom-search-input input {
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    height: 60px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  }
}
.custom-search-input input:focus {
  box-shadow: none;
}
@media (max-width: 991px) {
  .custom-search-input input:focus {
    border-right: none;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  }
}
.custom-search-input select {
  display: none;
}
.custom-search-input .form-group {
  margin: 0;
}
@media (max-width: 991px) {
  .custom-search-input .form-group {
    margin-bottom: 5px;
  }
}
.custom-search-input i {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 18px;
  font-size: 1.125rem;
  position: absolute;
  background-color: #fff;
  line-height: 50px;
  top: 0;
  right: 1px;
  padding-right: 15px;
  display: block;
  width: 20px;
  box-sizing: content-box;
  height: 48px;
  z-index: 9;
  color: #999;
}
@media (max-width: 991px) {
  .custom-search-input i {
    padding-right: 10px;
  }
}
.custom-search-input button[type="submit"] {
  padding: 0 25px;
  height: 50px;
  width: 100%;
  margin-right: -1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-weight: 600;
}
@media (max-width: 991px) {
  .custom-search-input button[type="submit"] {
    margin: 15px 0 0 0;
  }
}

.search_trends {
  color: #555;
}
.search_trends h5 {
  font-size: 14px;
  font-size: 0.875rem;
  display: inline-block;
  color: #555;
}
.search_trends ul {
  list-style: none;
  display: inline-block;
  margin: 15px 0 0 0;
  padding: 0;
}
.search_trends ul li {
  display: inline-block;
}
.search_trends ul li:after {
  content: ", ";
}
.search_trends ul li:last-child:after {
  content: " ";
}
.search_trends ul li a {
  color: #555;
}
.search_trends ul li a:hover {
  color: #444;
  text-decoration: underline;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}

header.black_nav ul#top_menu li > a,
header.black_nav .dropdown.user > a {
  color: #333 !important;
}

.main_title {
  position: relative;
  margin-bottom: 25px;
  position: relative;
  font-weight: 600;
}
.main_title span {
  width: 120px;
  height: 2px;
  background-color: #e1e1e1;
  display: block;
}
.main_title span em {
  width: 60px;
  height: 2px;
  background-color: #e54750;
  display: block;
}
@media (max-width: 767px) {
  .main_title {
    margin-bottom: 10px;
  }
}
.main_title h2 {
  font-size: 26px;
  font-size: 1.625rem;
  max-width: 600px;
  margin: 20px 0 0 0;
}
@media (max-width: 767px) {
  .main_title h2 {
    font-size: 22px;
    font-size: 1.375rem;
  }
}
.main_title p {
  max-width: 600px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 300;
}
.main_title a {
  position: absolute;
  right: 0;
  bottom: 0;
  font-weight: 500;
}
@media (max-width: 991px) {
  .main_title a {
    display: none;
  }
}
.main_title.center {
  text-align: center;
}
.main_title.center span {
  margin: auto;
}
.main_title.center span em {
  margin: auto;
}
.main_title.center h2 {
  max-width: inherit;
  font-size: 34px;
  font-size: 2.125rem;
}
@media (max-width: 767px) {
  .main_title.center h2 {
    font-size: 28px;
    font-size: 1.75rem;
  }
}
.main_title.center p {
  font-size: 21px;
  font-size: 1.3125rem;
  font-weight: 300;
  max-width: inherit;
}
.main_title.version_2 a {
  right: 0;
}
@media (max-width: 767px) {
  .main_title.version_2 a {
    display: none;
  }
}

.intro_txt .main_title {
  margin-bottom: 15px;
}
.intro_txt .main_title h2 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 600;
}

.ribbon {
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: 500;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 6px 8px 4px 23px;
  line-height: 1;
  font-size: 12px;
  font-size: 0.75rem;
  z-index: 9;
}
.ribbon.off {
  background-color: #f3723b;
}
.ribbon.off:before {
  font-family: "food";
  content: "\0076";
  position: absolute;
  left: 8px;
  top: 4px;
}

.score strong {
  padding: 10px 0 0 0;
  display: inline-block;
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 500;
}
.score strong:before {
  /* font-family: "ElegantIcons"; */
  /* content: "\e033"; */
  margin: -4px 3px 0 0;
  color: #66cc66;
}

.wave {
  width: 100%;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 65px;
  top: -65px;
  left: 0;
  background: url("../img/wave_white.svg");
  z-index: 99;
  animation: waves 20s linear infinite;
}
.wave:before,
.wave:after {
  content: "";
  width: 100%;
  height: 65px;
  background: url("../img/wave_white.svg");
  position: absolute;
  top: 0;
  left: 0;
}
.wave:before {
  opacity: 0.4;
  animation: waves-reverse 20s linear infinite;
}
.wave:after {
  opacity: 0.6;
  animation-delay: -5s;
  animation: waves 30s linear infinite;
}
.wave.hero {
  top: auto;
  bottom: 0;
}

.wave.gray {
  background: url("../img/wave_gray.svg");
}
.wave.gray:before,
.wave.gray:after {
  background: url("../img/wave_gray.svg");
  position: absolute;
}

@keyframes waves {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1600px;
  }
}
@keyframes waves-reverse {
  0% {
    background-position: 1600px;
  }
  100% {
    background-position: 0;
  }
}

.bg_gray {
  background-color: #f9fafb;
}
.bg_gray.pattern {
  background: #f4f4f4 url(../img/pattern_2.svg) repeat;
}

.margin_30_40 {
  padding-top: 30px;
  padding-bottom: 40px;
}

.margin_60_40 {
  padding-top: 60px;
  padding-bottom: 40px;
}

.margin_60_0 {
  padding-top: 60px;
  padding-bottom: 0;
}

.add_bottom_15 {
  padding-bottom: 15px;
}

.add_bottom_25 {
  padding-bottom: 25px;
}

.add_top_30 {
  margin-top: 30px;
}

.mb_5 {
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .margin_mobile {
    padding-top: 30px;
    padding-bottom: 10px;
  }
}

a.btn_1,
.btn_1 {
  border: none;
  background-color: #e54750;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 8px 20px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  line-height: normal;
}
a.btn_1:focus,
.btn_1:focus {
  outline: none;
}
a.btn_1:hover,
.btn_1:hover {
  background-color: #f3723b;
}
a.btn_1.full-width,
.btn_1.full-width {
  display: block;
  width: 100%;
  text-align: center;
}
a.btn_1.small,
.btn_1.small {
  font-size: 12px;
  font-size: 0.75rem;
  padding: 7px 15px;
}
a.btn_1.medium,
.btn_1.medium {
  font-size: 15px;
  font-size: 0.9375rem;
  padding: 12px 30px;
}
a.btn_1.outline,
.btn_1.outline {
  border: 2px solid #111;
  color: #111;
  padding: 6px 15px;
  background: none;
}
a.btn_1.outline:hover,
.btn_1.outline:hover {
  border-color: #e54750;
  color: #e54750 !important;
}
a.btn_1.outline:focus,
.btn_1.outline:focus {
  outline: none;
}
a.btn_1.gray,
.btn_1.gray {
  background: #f0f0f0;
  color: #e54750;
}
a.btn_1.gray:hover,
.btn_1.gray:hover {
  background-color: #e54750;
  color: #fff !important;
}
a.btn_1.full-width,
.btn_1.full-width {
  display: block;
  width: 100%;
  text-align: center;
}
a.btn_1.plus_icon,
.btn_1.plus_icon {
  padding-bottom: 5px;
  padding-right: 10px;
}
a.btn_1.plus_icon i,
.btn_1.plus_icon i {
  font-size: 26px;
  font-size: 1.625rem;
  float: right;
  line-height: 1;
}
a.btn_1.plus_icon.medium,
.btn_1.plus_icon.medium {
  padding-bottom: 10px;
  padding-right: 20px;
}
a.btn_1.gradient,
.btn_1.gradient {
  background-size: 100%;
  background-image: -webkit-linear-gradient(right, #f3723b, #e54750);
  background-image: linear-gradient(to right, #f3723b, #e54750);
  position: relative;
  z-index: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
a.btn_1.gradient:before,
.btn_1.gradient:before {
  border-radius: inherit;
  background-image: -webkit-linear-gradient(right, #e54750, #e54750);
  background-image: linear-gradient(to right, #e54750, #e54750);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out;
}
a.btn_1.gradient:hover:before,
.btn_1.gradient:hover:before {
  opacity: 1;
}
a.btn_1.gradient:active:before,
a.btn_1.gradient.nice-select.open:before,
.btn_1.gradient:active:before,
.btn_1.gradient.nice-select.open:before {
  opacity: 1;
}

.pulse_bt {
  box-shadow: 0 0 0 rgba(229, 71, 80, 0.4);
  animation: pulseanime 3s infinite;
  -webkit-animation: pulseanime 3s infinite;
}

@-webkit-keyframes pulseanime {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(229, 71, 80, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(229, 71, 80, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(229, 71, 80, 0);
  }
}
@keyframes pulseanime {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(229, 71, 80, 0.4);
    box-shadow: 0 0 0 0 rgba(229, 71, 80, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(229, 71, 80, 0);
    box-shadow: 0 0 0 10px rgba(229, 71, 80, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(229, 71, 80, 0);
    box-shadow: 0 0 0 0 rgba(229, 71, 80, 0);
  }
}
@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block !important;
    height: auto !important;
    visibility: visible !important;
  }
}


@media (max-width: 767px) {
  #newsletter {
    margin-top: 20px;
  }
}
#newsletter h6 {
  margin: 15px 0 15px 0;
}
#newsletter input[type="email"] {
  border: 0;
  height: 40px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  padding-left: 15px;
  background-color: #fcfcfc;
  background-color: rgba(255, 255, 255, 0.8);
  color: #444;
}
#newsletter input[type="email"]:focus {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#newsletter button[type="submit"] {
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 24px;
  font-size: 1.5rem;
  top: 0;
  border: 0;
  padding: 0 10px;
  height: 40px;
  line-height: 44px;
  cursor: pointer;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  background-color: #e54750;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
}
#newsletter button[type="submit"]:hover {
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
}

#message-newsletter #success_page {
  color: #333;
}

.follow_us h5 {
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 35px 0 10px 0;
  text-transform: uppercase;
}
.follow_us ul {
  margin: 0 0 25px 0;
  padding: 0;
  list-style: none;
}
.follow_us ul li {
  display: inline-block;
  margin: 0 10px 0 0;
}
.follow_us ul li a {
  display: block;
}
.follow_us ul li a img {
  width: 30px;
  height: 30px;
}
.follow_us ul li a:hover {
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  transform: translateY(-5px);
}

ul.additional_links {
  margin: 0;
  padding: 8px 0 0 0;
  color: #444;
  float: right;
  font-size: 13px;
  font-size: 0.8125rem;
}
@media (max-width: 991px) {
  ul.additional_links {
    float: none;
    margin-top: 10px;
  }
}
ul.additional_links li {
  display: inline-block;
  margin-right: 15px;
}
ul.additional_links li:first-child {
  margin-right: 20px;
}
ul.additional_links li:last-child {
  margin-right: 0;
}
ul.additional_links li:last-child:after {
  content: "";
}
ul.additional_links li span {
  color: #444;
}
ul.additional_links li a {
  color: #444;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
ul.additional_links li a:hover {
  color: #222;
}
ul.additional_links li:after {
  content: "|";
  font-weight: 300;
  position: relative;
  left: 10px;
}

.opacity-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.35);
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
  opacity: 0;
  visibility: hidden;
}

.layer-is-visible {
  opacity: 1;
  visibility: visible;
}

.form-control {
  padding: 10px;
  height: 40px;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d2d8dd;
}
.form-control:focus {
  border-color: #ccc;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.05);
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-s-error .mfp-content {
  display: none;
}

.mfp-figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 18px rgba(11, 11, 11, 0.6);
}

.mfp-figure {
  line-height: 0;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-break: break-word;
  padding-right: 36px;
}

.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.9;
}

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

#sign-in-dialog {
  background: #fff;
  padding: 30px;
  padding-top: 0;
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  position: relative;
  box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}

#sign-in-dialog .mfp-close,
#modal-dialog .mfp-close {
  color: #666;
  background-color: #e4e4e4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  top: 12px;
  right: 20px;
  width: 32px;
  height: 32px;
  line-height: 32px;
}
#sign-in-dialog .mfp-close:before,
#modal-dialog .mfp-close:before {
  font-size: 24px;
  font-family: "ElegantIcons";
  content: "\4d";
}
#sign-in-dialog .mfp-close:hover,
#modal-dialog .mfp-close:hover {
  color: #fff;
  background-color: #66676b;
}

.modal_header {
  font-size: 18px;
  width: calc(100% + 60px);
  position: relative;
  left: -30px;
  top: 0;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
  -ms-border-radius: 4px 4px;
  border-radius: 4px 4px;
  display: inline-block;
  background-color: #f6f6f6;
  padding: 18px 20px 15px 20px;
  margin-bottom: 30px;
}
.modal_header h3 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
}

#sign-in-dialog .form-group input.form-control {
  padding-left: 40px;
}

#sign-in-dialog .form-group > i {
  font-size: 18px;
  font-size: 1.125rem;
  position: absolute;
  left: 12px;
  top: 33px;
  color: #ccc;
  width: 25px;
  height: 25px;
  display: block;
  font-weight: 400 !important;
}
#sign-in-dialog .form-group > i.icon_lock_alt {
  top: 35px;
}

.checkboxes label,
a#forgot {
  color: #999;
  font-size: 13px;
  font-size: 0.8125rem;
}

#forgot_pw {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  min-height: 430px;
  display: none;
}
#forgot_pw label {
  font-weight: 500;
}

.sign-in-wrapper {
  position: relative;
  height: 100%;
}

a.social_bt {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  min-width: 200px;
  margin-bottom: 15px;
  display: block;
  padding: 12px;
  line-height: 1;
  position: relative;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
a.social_bt:hover {
  -webkit-filter: brightness(110%);
  filter: brightness(110%);
}

.divider {
  text-align: center;
  height: 1px;
  margin: 20px 0 20px 0;
  background-color: #ededed;
}
.divider span {
  position: relative;
  top: -20px;
  background-color: #fff;
  display: inline-block;
  padding: 10px;
  font-style: italic;
}

.mfp-counter {
  right: 10px !important;
  color: #fff !important;
}

.mfp-bg {
  opacity: 0.8 !important;
}

#modal-dialog {
  background: #fff;
  padding: 0;
  max-width: 500px;
  margin: 40px auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#modal-dialog .content {
  padding: 20px;
}

a.box_topic,
.box_topic {
  text-align: center;
  background: #fff;
  padding: 40px 30px 15px 30px;
  display: block;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  color: #444;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
@media (max-width: 767px) {
  a.box_topic,
  .box_topic {
    padding: 20px 20px 0 20px;
  }
}
a.box_topic:hover,
.box_topic:hover {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}
a.box_topic i,
.box_topic i {
  font-size: 60px;
  font-size: 3.75rem;
  background: #f3723b;
  background: -webkit-linear-gradient(top, #f3723b, #e54750);
  background: linear-gradient(to bottom, #f3723b, #e54750);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  margin: 0 auto 15px;
}
a.box_topic h3,
.box_topic h3 {
  font-size: 18px;
  font-size: 1.125rem;
}
a.box_topic.submit:hover,
.box_topic.submit:hover {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
a.box_topic.submit h3,
.box_topic.submit h3 {
  color: #e54750;
}
